@header-height: 80px;

#fight {
  background-image: url(../../assets/background0.png);
  background-size: cover;
  height: 100%;
  #ground {
    position: fixed;
    height: 120px;
    bottom: 0;
    //background: linear-gradient(0deg, #d45c00, #f8bc22);
    background-image: url("../../assets/ground.png");
    background-size: cover;
    width: 100%;
    z-index: 5;
  }
}

.ally {
  position: absolute;
  z-index: 10;
  height: 150px;
  width: fit-content;
}

.foe {
  position: absolute;
  z-index: 10;
  right: 40px;
  bottom: 40px;
  height: fit-content;
  width: fit-content;
}

#fighters {
  position: absolute;
  bottom: 40px;
  width: 95%;
  height: 150px;
  margin-left: auto;
}

.character {
  height: 100px;
}

#attacks {
  position: relative;
  width: 100%;
  top: 5%;
  height: fit-content;
  padding: 1vh 1vh 1vh 1vh + 20%;
  border-radius: 0.5vw;
  box-shadow: 0 0 10px 10px rgba(127, 127, 127, 0.7);
  display: flex;
}

.attack {
  position: relative;
  height: fit-content;
  float: left;
  flex: 1 1 auto;
  div {
    width: fit-content;
    border-radius: 0.5vw;
    box-shadow: 0 0 10px 10px rgba(127, 127, 127, 0.7);
    img {
      position: relative;
      width: 6vh;
      height: auto;
    }
  }
}

.container {
  @media (min-width: 1238px) {
    top: @header-height;
  }

  @media (max-width: 1238px) and (min-width: 700px) {
    top: @header-height + 20;
  }

  @media (max-width: 700px) {
    top: @header-height + 40;
  }
  margin: auto;
  width: 95%;
}

.label {
  margin: auto;
  @media (min-width: 1238px) {
    font-size: 24px;
  }

  @media (max-width: 1238px) and (min-width: 700px) {
    font-size: 30px;
  }

  @media (max-width: 700px) {
    font-size: 34px;
  }

}
