<div id="fight">
  <div class="container">
    <p class="label">Attacks: </p>
    <div id="attacks">
      <div class="attack" *ngFor="let skill of skills">
        <div (click)="selectSpell($event)" pTooltip="{{map[skill]}}">
          <img id="{{skill}}"
               src="../../assets/elements/{{skill.substring(0, skill.indexOf(' ')).toLowerCase()}}.png">
        </div>
      </div>
    </div>
  </div>
  <div id="fighters">
    <div class="ally">
      <template #alliesContainer></template>
    </div>
    <div class="foe">
      <template #enemiesContainer></template>
    </div>
  </div>
  <div id="ground">
  </div>
</div>
<img src="../../assets/elements/{{selectedSpell
          .substring(0, selectedSpell.indexOf(' ')).toLowerCase()}}.png"
     [@attack]="kek ? 'use' : 'default'">
