#fight {
  background-image: url(../../assets/background0.png);
  background-size: cover;
  height: 100%;
  #ground {
    position: fixed;
    height: 120px;
    bottom: 0;
    background: linear-gradient(0deg, #d45c00, #f8bc22);
    width: 100%;
  }
}

.ally {
  position: relative;
  float: left;

}

.character {
  height: 100px;
}
