#fight {
  background-image: url(../../assets/background0.png);
  background-size: cover;
  height: 100%;
  #ground {
    position: fixed;
    height: 200px;
    bottom: 0;
    background: linear-gradient(0deg, #e87000, #eeb218);
    width: 100%;
  }
}
