<p-tabMenu [model]="pages" [activeItem]="pages[0]" *ngIf="!registration"></p-tabMenu>
<div id="sign-in" *ngIf="!registration">
  <div>
    <label for="sign-in-login">Login:</label><br>
    <input id="sign-in-login" type="text" pInputText [(ngModel)]="username"/>
  </div>
  <div>
    <label for="sign-in-password">Password: </label><br>
    <input id="sign-in-password" type="password" pPassword [feedback]="false" [(ngModel)]="firstPassword"/>
  </div>
  <p-button label="Sign in" (onClick)="tryToLogin()"></p-button>
  <p-button label="BK" (onClick)="tryToSignInWithVk()"></p-button>
  <p-button label="G+" (onClick)="tryToSignInWithGoogle()"></p-button>
</div>

<div id="sign-up" *ngIf="!registration">
  <div>
    <label for="sign-up-login">Login: </label><br>
    <input id="sign-up-login" type="text" pInputText [(ngModel)]="username"/>
  </div>
  <div>
    <label for="sign-up-password">Password: </label><br>
    <input id="sign-up-password" type="password" pPassword [(ngModel)]="firstPassword"/>
  </div>
  <div>
    <label for="sign-up-confirm">Confirm password: </label><br>
    <input id="sign-up-confirm" type="password" pPassword [(ngModel)]="secondPassword"/>
  </div>
  <p-button label="Sign up" (onClick)="tryToSignUp()"></p-button>
</div>

<div id="customization" *ngIf="registration">
  <div class="vertical">
    <div class="customization">
      <p>Gender: {{appearance.gender}}</p>
      <p-inputSwitch [(ngModel)]="gender" (onChange)="setGender()"></p-inputSwitch>
      <p>Hair color: {{appearance.hairColour.toLowerCase()}}</p>
      <p-radioButton name="HairColor" label="Yellow " value="YELLOW" [(ngModel)]="appearance.hairColour"
                     (onClick)="changeHair()"></p-radioButton>
      <p-radioButton name="HairColor" label="Brown " value="BROWN" [(ngModel)]="appearance.hairColour"
                     (onClick)="changeHair()"></p-radioButton>
      <p-radioButton name="HairColor" label="Black " value="BLACK" [(ngModel)]="appearance.hairColour"
                     (onClick)="changeHair()"></p-radioButton>
      <p>Skin color: {{appearance.skinColour.toLowerCase()}}</p>
      <p-radioButton name="SkinColor" label="White " value="WHITE" [(ngModel)]="appearance.skinColour"
                     (onClick)="changeSkin()"></p-radioButton>
      <p-radioButton name="SkinColor" label="Latin " value="LATIN" [(ngModel)]="appearance.skinColour"
                     (onClick)="changeSkin()"></p-radioButton>
      <p-radioButton name="SkinColor" label="Dark " value="DARK" [(ngModel)]="appearance.skinColour"
                     (onClick)="changeSkin()"></p-radioButton>
      <p-radioButton name="SkinColor" label="Black " value="BLACK" [(ngModel)]="appearance.skinColour"
                     (onClick)="changeSkin()"></p-radioButton>
      <p>Clothes color: {{appearance.clothesColour.toLowerCase()}}</p>
      <p-radioButton name="ClothesColor" label="Green " value="GREEN"
                     [(ngModel)]="appearance.clothesColour" (onClick)="changeClothes()"></p-radioButton>
      <p-radioButton name="ClothesColor" label="Red " value="RED"
                     [(ngModel)]="appearance.clothesColour" (onClick)="changeClothes()"></p-radioButton>
      <p-radioButton name="ClothesColor" label="Blue " value="BLUE"
                     [(ngModel)]="appearance.clothesColour" (onClick)="changeClothes()"></p-radioButton>
    </div>
    <div class="customization">
      <app-character></app-character>
    </div>
  </div>
  <div class="vertical">
    <p-button label="Confirm" (onClick)="sendAppearance()"></p-button>
  </div>
</div>
