<p-tabMenu [model]="pages" [activeItem]="pages[0]"></p-tabMenu>
<div id="sign-in">
  <div>
    <label for="sign-in-login">Login:</label><br>
    <input id="sign-in-login" type="text" pInputText [(ngModel)]="username"/>
  </div>
  <div>
    <label for="sign-in-password">Password: </label><br>
    <input id="sign-in-password" type="password" pPassword [feedback]="false" [(ngModel)]="firstPassword"/>
  </div>
  <p-button label="Sign in" (onClick)="tryToLogin()"></p-button>
</div>

<div id="sign-up">
  <div>
    <label for="sign-up-login">Login: </label><br>
    <input id="sign-up-login" type="text" pInputText [(ngModel)]="username"/>
  </div>
  <div>
    <label for="sign-up-password">Password: </label><br>
    <input id="sign-up-password" type="password" pPassword [(ngModel)]="firstPassword"/>
  </div>
  <div>
    <label for="sign-up-confirm">Confirm password: </label><br>
    <input id="sign-up-confirm" type="password" pPassword [(ngModel)]="secondPassword"/>
  </div>
  <p-button label="Sign up" (onClick)="tryToSignUp()"></p-button>
</div>
