@margin-value: 10px;

#sign-up {
  display: none;
  //width: 400px;

  div {
    margin: @margin-value
  }
}

#sign-in {
  div {
    margin: @margin-value
  }
}

.vk-logo &:before {
  content: url("../../assets/vk.png");
}

