<div class="friendsList">
  <p-tabView>
      <p-tabPanel header="Friends">
        <label *ngIf="friends.length == 0">No friends yet</label>
  <ul>
  <li *ngFor="let friend of friends">
    <div class="userdata">{{friend.login}}<br>
        <label *ngIf="friend.online" class="online">{{'Ready' | translate }}</label>
        <label *ngIf="friend.offline" class="offline">{{'Not ready' | translate }}</label><br>
      <button *ngIf="friend.online" class="invite" (click)="inviteToPVP(friend)">{{'Invite to Fight' | translate }}</button>
      <br *ngIf="friend.online">
      <button class="invite" (click)="showMessageInput(friend)">{{'Send a message' | translate }}</button><br>
      <button class="decline" (click)="deleteFriend(friend)">{{'Remove from friends' | translate }}</button></div>
    
  </li>
</ul>
</p-tabPanel>
<p-tabPanel header="In">
    <label *ngIf="inRequested.length == 0">No requests yet</label>
<ul>
  <li *ngFor="let inReq of inRequested">
    <span class="login">{{inReq.login}}</span><span class="buttons">
      <button (click)="addFriend(inReq)" class="accept">{{'Accept' | translate }}</button>
      <button (click)="declineReq(inReq)" class="decline">{{'Decline' | translate }}</button>
    </span>
  </li>
</ul>
</p-tabPanel>
<p-tabPanel header="Out">
    <label *ngIf="outRequested.length == 0">No one is requested</label>
<ul>
  <li *ngFor="let outReq of outRequested">
    <span class="login">{{outReq.login}}</span><span class="buttons">
      <button (click)="deleteRequest(outReq)" class="decline">{{'Delete request' | translate }}</button>
    </span>
  </li>
</ul>
</p-tabPanel>
</p-tabView>
</div>