#chat{
    #header{
        position: fixed;
        width: 100%;
        height: 50px;
        z-index: 80;
        background-color: cornflowerblue;
    }
    .admin{
        font-size: 110%;
        color: fuchsia;
    }
    .ordinary{
        font-size:100%;
        color: springgreen;
    }
    background: rgb(19, 23, 27);
    width: 20%;
    float: right;
    position: relative;
}