#chat{

    .admin{
        font-size: 110%;
        color: fuchsia;
    }
    .ordinary{
        font-size:100%;
        color: springgreen;
    }
    background: rgb(19, 23, 27);
    width: 100%;
    float: right;
    position: relative;
  padding: 10px;
}
