<div id="fullPage">
  <table>
    <tr>
      <th>{{'Date' | translate }}</th>
      <th>{{'Type' | translate }}</th>
      <th>{{'Result' | translate }}</th>
      <th>{{'XPchange' | translate }}</th>
      <th>{{'RatingChange' | translate }}</th>
      <th>{{'Rival' | translate }}</th>
    </tr>
    <tr *ngFor = "let fight of fights">
      <td>{{fight.date | date:'short'}}</td>
      <td>{{fight.type}}</td>
      <td><div [ngClass]="fight.result === 'Win' ? 'won': 'lost'">
          {{fight.result}} </div></td>
      <td>{{fight.xpCh}}</td>
      <td><div *ngIf = "fight.ratingCh !==0" [ngClass]="fight.ratingCh > 0 ? 'won': 'lost'">
        {{fight.ratingCh}}</div>
        <div *ngIf = "fight.ratingCh === 0">
          {{fight.ratingCh}}
        </div>
      </td>
      <td>{{fight.rival}}</td>
    </tr>
  </table>
</div>
