
#fullPage {
    margin: auto;
    background-color: rgb(36, 32, 32);
    display: flex;
    width: 70%;
    @media(max-width: 700px) {
        width: 100%;
    }
    @media (min-width: 701px) and (max-width: 1238px) {
        width: 80%;
    }
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    table{
        color: bisque;
        text-align: left;
        width: 65%;
        border-collapse: collapse;
        border: 1px solid white;
        @media (max-width: 700px) and (min-width: 401px) {
            font-size: 70%;
            width: 100%;
        }
        @media (max-width: 400px) {
            font-size: 60%;
        }
        @media (min-width: 701px) and (max-width: 1238px) {
            font-size: 85%;
            width: 80%;
        }
        td, th {
            border: 1px solid white;
            padding: 5px, 8px;
            margin: 5px, 8px;
        }
        th {
            height: 200%;
            font-size: 130%;
        }
    }
}
.won {
    color: rgb(101, 252, 55);
}
.lost {
    color: rgb(252, 63, 63);
}