@header-height: 80px;

.block {
  float: top;
  width: 100%;
  background-size: cover;
  height: 100vh;
  img {
    position: relative;
    margin-top: 90vh;
  }
}

#first {
  background-image: url("../../assets/first-bg.jpg");
  img {
    margin-left: 45%;
    width: 50%;
  }
}

#second {
  background-image: url("../../assets/second-bg.jpg");
}

#third {
  background-image: url("../../assets/third-bg.jpg");
}
