<div id="header">
  <img id="logo" src="../../assets/logo.png"/>
  <div class="menu">
    <div *ngIf="router.url !== '/start'" class="pages" (click)="router.navigateByUrl('start')">
      <p>Main</p>
    </div>
    <div *ngIf="router.url === '/start'" class="pages" (click)="router.navigateByUrl('info')">
      <p i18n="@@info_page_link">Some bullshit</p>
    </div>
    <div *ngIf="router.url === '/start'" class="pages">
      <p>Some other хуйня</p>
    </div>
    <div *ngIf="router.url === '/profile'" class="pages" (click)="router.navigateByUrl('messages')">
      <p>Messages</p>
    </div>
    <div *ngIf="loggedIn && router.url !== '/profile'" class="pages" (click)="router.navigateByUrl('profile')">
      <p>Profile</p>
    </div>
  </div>
  <p-button id="account-button" label="Log in" *ngIf="!loggedIn" (click)="showLoginBlock()"></p-button>
  <p id="login" *ngIf="loggedIn">Logged in as: {{login}}</p>
  <p-button id="logout-button" label="Log out" *ngIf="loggedIn" (click)="logout()"></p-button>
</div>
<div id="content">
  <router-outlet></router-outlet>
</div>
