<div id="header">
  <img id="logo" src="../../assets/logo.png" (click)="router.navigateByUrl('start')"/>
  <div class="menu">
    <div class="pages">
      <p>
        {{'English' | translate }}
        <p-inputSwitch (onChange)="changeLanguage()">
        </p-inputSwitch>
        {{'Russian' | translate }}
      </p>
    </div>
    <div *ngIf="router.url !== '/start'" class="pages" (click)="router.navigateByUrl('start')">
      <p>{{'Main' | translate }}</p>
    </div>
    <div *ngIf="router.url === '/start'" class="pages" (click)="router.navigateByUrl('info')">
      <p>{{'About project' | translate }}</p>
    </div>
    <div *ngIf="router.url === '/profile'" class="pages" (click)="router.navigateByUrl('messages')">
      <p>{{'Messages' | translate }}</p>
    </div>
    <div *ngIf="loggedIn && router.url !== '/profile'" class="pages" (click)="router.navigateByUrl('profile')">
      <p>{{'Profile' | translate }}</p>
    </div>
  </div>
  <div class="login">
    <p-button id="account-button" label="{{'Log in' | translate }}" *ngIf="!loggedIn"
              (click)="showLoginBlock()"></p-button>
  </div>
  <div class="login" *ngIf="loggedIn">{{'Logged in as:' | translate }} {{login}} <br>
    <p-button id="logout-button" label="{{'Log out' | translate }}" *ngIf="loggedIn" (click)="logout()"></p-button>
  </div>

  <p-confirmDialog></p-confirmDialog>
</div>
<div id="content">
  <router-outlet></router-outlet>
</div>
<p-toast position="top-center"></p-toast>
