<div id="header">
  <img id="logo" src="../../assets/logo.png"/>
  <div class="menu">
    <div class="pages" (click)="router.navigateByUrl('start')">
      <p>Main</p>
    </div>
    <div class="pages" (click)="router.navigateByUrl('info')">
      <p i18n="@@info_page_link">Some bullshit</p>
    </div>
    <div class="pages">
      <p>Some other хуйня</p>
    </div>
  </div>
  <p-button id="account-button" label="Account" *ngIf="!loggedIn" (click)="showLoginBlock()"></p-button>
  <p id="login" *ngIf="loggedIn">Logged in as: {{login}}</p>
  <p-button id="open-profile-button" label="Profile" *ngIf="loggedIn" (click)="openProfile()"></p-button>
</div>
<router-outlet></router-outlet>
