@primary-colour: beige;
@label-colour: #aa825a;
@label-hovered-colour: #aa8296;
#profile_info {
  background-color: @primary-colour;
  #avatar {
    width: 120px;
    height: 89px;

    position: relative;
    float: left;
  }
  .stats {
    position: relative;
    float: right;
    background-color: @label-colour;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    margin: 10px 10px 10px 10px;
  }
  .social {
    position: relative;
    float: left;
    width: 80%;
    background-color: @label-colour;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    margin: 10px 10px 10px 10px;
  }
  .social:hover {
    background-color: @label-hovered-colour;
    box-shadow: 0, 0, 4, @label-hovered-colour;
  }
}

.section {
  position: relative;
  float: left;
  height: 100%;
}

#map {
  margin-top: 2.5%;
  width: auto;
  height: 95%;
}

path#path3196 {
  //&:hover {
  fill: red;
  //}
}

