@primary-colour: beige;
@label-colour: #aa825a;
@label-hovered-colour: #aa8296;
#profile_info {
  background-color: @primary-colour;
  display: inline-block;
  //float: left;
  #avatar {
    //display: inline-block;
    float: left;
  }
#user_parameters{
  float: left;
}
#img_and_immutable {
  display: block;
  width:100%;
}
.upgradable {
  button{
    //height: 15px;
    color: white;
    background-color: #55F;  
  }
}
#stats {
  display:block;
}

  .stats {
    position: relative;
    //float: right;
    background-color: @label-colour;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    margin: 1px 1px 1px 1px;
  }
  .social {
    position: relative;
    //float: left;
    width: 30%;
    background-color: @label-colour;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    margin: 10px 10px 10px 10px;
  }
  .social:hover {
    background-color: @label-hovered-colour;
    box-shadow: 0, 0, 4, @label-hovered-colour;
  }
  height: 100%;
}

.section {
  position: relative;
  float: left;
  height: 100%;
  width: 15%;
  + .section {
    margin: auto;
  }
}

#nav {
  width: 65%;
}

#map {
  margin-top: 2.5%;
  width: 100%;
  height: auto;
}

#social {
  width: 20%;
}
.vertical {
  position: relative;
  float: top;
}

.ground {
  fill: #a7cc95;
  &:hover {
    fill: red;
  }
}


