<span id="profile_info">
  <div id="img_and_immutable">
    <span id="img_span">
      <img id="avatar">
    </span>
    <span id="user_parameters">
      <label id="username">{{user.username}}</label><br><
      <label id="character_level">Level: {{user.stats.level}}</label><br><!--Although it is mutable, I've put it here because user can not change it explicitly-->
      <label id="animal_race">Animal Race: {{user.character.animalRace}}</label>
    </span>
  </div>
  <div id="stats">
    <label id="fights_number">Number of fights: {{user.stats.fightsNum}}</label>
  </div>
</span>
