<div>
  <p>
    {{type}} {{'fight' | translate}}: {{area}}
  </p>
  <p-pickList sourceHeader="{{'Ready users' | translate}}" [source]="users"
              targetHeader="{{'Invited users' | translate}}" [target]="selected"
              [showSourceControls]="false" [showTargetControls]="false"
              [responsive]="true" [dragdrop]="true"
              filterBy="toString()" (onMoveToTarget)="validateAmount($event)"
              [metaKeySelection]="false" (onMoveAllToTarget)="break($event)" [showTargetFilter]="false">
    <ng-template let-user pTemplate="item">
      <div class="ready">
        {{user}}
      </div>
    </ng-template>
  </p-pickList>
  <p-button id="start" label="{{'Start' | translate}}" [disabled]="disabled" (onClick)="startFight()"></p-button>

</div>
