<div>
  <p>
    {{type}} fight: {{area}}
  </p>
  <p-pickList sourceHeader="Ready users" [source]="users"
              targetHeader="Invited users" [target]="selected"
              [showSourceControls]="false" [showTargetControls]="false"
              [responsive]="true" [dragdrop]="true"
              filterBy="toString()" (onMoveToTarget)="validateAmount($event)"
              [metaKeySelection]="false"  [showTargetFilter]="false">
    <ng-template let-user pTemplate="item">
      <div class="ready">
        {{user}}
      </div>
    </ng-template>
  </p-pickList>
  <p-button id="start" label="Start" [disabled]="disabled" (onClick)="startFight()"></p-button>

</div>
